* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	min-height: 100vh;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

.logo img {
	height: 50px;
	margin-left: 10px;
}

.main-nav {
	text-decoration: underline;
	display: flex;
	font-size: 22px;
}

.main-nav {
	align-self: right;
}

.main-nav a {
	text-align: center;
	padding: 0px 1em 0px 1em;
	display: block;
}

.main-nav a {
	color: seashell;
}

.main-nav a:hover {
	color: #f39ea1;
}

.header {
	border: 1px solid seashell;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 69px;
}

.hero-image {
	background-image: url("../images/img-mission-background.png");
	height: 700px;
	display: flex;
	align-items: center;
    background-position: center;
    background-repeat: no-repeat;
}

.mission {
	justify-content: center;
}
}

.mission img {
	width: 90%;
	margin: 0 auto;
}
/* .mission-content {
	background-color: black;
	flex-basis: auto;
	 */

.hero-content {
    background-color: black;
    width: 100%;
}

/* ============
TOM CONTENT
============ */

.tom-content {
    width: 70%;
    margin: 10px auto;
}

.tom-items {
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tom-items img {
    width: 300px;
    height: 200px;
    margin: 10px 1.2em;
}

.tom-description {
    margin: 0;
    padding: 0;
}
     /* ===================== 
Media Queries 
=======================*/
